.idea
.idea_modules
.classpath
.project
.vscode
.bloop
.metals
target
dist
build
node_modules
*.iml
coverage
nohup.out
junit.xml

src/**.js
.vscode/*
yarn.lock
*.tsbuildinfo
.DS_Store
**/web_modules/*
src/**/*.js
integration/jsons
RTM/*.txt
RTM/*.html
.bsp

.local-pack

example/example
