.idea
.idea_modules
.classpath
.project
.vscode
.bloop
.metals
target
dist
build
node_modules
*.iml
coverage
nohup.out

lib/src/**.js
lib/dist
.vscode/*
yarn.lock
*.tsbuildinfo
.DS_Store
target
**/web_modules/*
lib/src/**/*.js
lib/integration/jsons
