name: dev

on:
  pull_request:
    branches: [master]
  push:
    branches: [master, 'branch-*']

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      # https://www.pika.dev/npm/snowpack/discuss/444
      # following step is needed because snowpack is watching files from node_modules as well
      - name: increase file watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - uses: actions/checkout@v2
      - uses: laughedelic/coursier-setup@v1
        with:
          jvm: 11
          apps: sbt sbtn
      - uses: coursier/cache-action@v5

      - uses: actions/setup-node@v1
        with:
          node-version: "15.x"
          registry-url: "https://registry.npmjs.org"

      - name: Cache ~/.npm
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install
        working-directory: ./lib
        run: npm ci

      - name: Build
        working-directory: ./lib
        run: npm run build

      - name: Paradox Validate Links
        run: sbtn paradoxValidateLinks

      - name: Unit tests
        working-directory: ./lib
        run: npm run test:unit:ci

      - name: Integration tests
        working-directory: ./lib
        run: npm run test:integration:ci

      - name: Build - Example App
        working-directory: ./example
        run: |
          npm ci
          npm run build

      - name: Selenium Test
        run: sbt -Dprod.publish=true -DgenerateStoryReport=true -DRTM_PATH=./RTM -DOUTPUT_FILE=./testStoryMapping.txt clean test

      - name: Generate RTM
        if: always()
        continue-on-error: true
        run: |
          sh rtm.sh

      - name: Upload RTM
        if: always()
        continue-on-error: true
        uses: actions/upload-artifact@v2
        with:
          name: RTM
          path: ./RTM

      - name: Upload Coverage
        if: always()
        continue-on-error: true
        uses: actions/upload-artifact@v2
        with:
          name: Coverage
          path: ./lib/coverage

      - name: Notify slack
        if: always()
        continue-on-error: true
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: ${{ job.status }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ci-dev
