name: release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    env:
      CSW_VERSION: "3.0.0-RC1" # Change before releasing (before tagging repo)
      ESW_VERSION: "0.2.0-RC1"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: increase file watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - uses: actions/checkout@v2
      - uses: laughedelic/coursier-setup@v1
        with:
          jvm: 11
          apps: sbt sbtn
      - uses: coursier/cache-action@v5

      - uses: actions/setup-node@v1
        with:
          node-version: "14.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install
        working-directory: ./lib
        run: npm ci

      - name: Build
        run: |
          sbtn scalafmtCheck
          sbtn clean
          sbtn makeSite
          cd ./lib
          npm run build

      - name: Unit tests
        working-directory: ./lib
        run: npm run test:unit:ci

      - name: Integration tests
        working-directory: ./lib
        run: npm run test:integration:ci

      - name: Build - Example App
        working-directory: ./example
        run: |
          npm ci
          npm run build

      - name: Selenium Test
        run: sbt -DgenerateStoryReport=true -DRTM_PATH=./RTM clean test

      - name: Generate RTM
        if: always()
        continue-on-error: true
        run: |
          sh rtm.sh

      - name: Upload RTM
        if: always()
        continue-on-error: true
        uses: actions/upload-artifact@v1
        with:
          name: RTM
          path: ./RTM

      - name: NPM Publish
        working-directory: ./lib
        run: |
          npm dist-tag add @tmtsoftware/esw-ts@0.1.0-RC1 next
          npm publish --tag=next --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Docs Publish
        run: |
          echo 'echo $RELEASE_TOKEN' > /tmp/.git-askpass
          chmod +x /tmp/.git-askpass
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Action"
          sbt -Dprod.publish=true clean ghpagesPushSite
        env:
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          GIT_ASKPASS: /tmp/.git-askpass

      - name: Notify slack
        if: always()
        continue-on-error: true
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: ${{ job.status }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ci-release
